{% load staticfiles %}
<html>
	<head>
		
		
	</head>
	<body>
		<input type="text" id="book" onkeyup="auto()"/>
		<div id="books-list">
		</div>
	</body>
	<script type="text/javascript" src="{% static "js/movies/jquery-1.11.1.min.js" %}">
	</script>
	<script>
			
			function auto()
					{
						var letters = /^[A-Za-z]+$/;
						var book = document.getElementById('book');
						if(book.value.match(letters))
						$.post('http://127.0.0.1:8080/books/search_info/', {'term': book.value})
						.done(function(data)
						{
							//alert(data.response[0].title);
							if(data != undefined)
							{
								var html = '';
								for(i=0; i<data.response.length; i++)
									html += "<li><a href='/books/book=" + data.response[i].title + "'>" + data.response[i].title + "</a></li><br>";
								document.getElementById('books-list').innerHTML = html;
							}
						})
					}
		</script>
</html>
