{% load staticfiles %}
<html>
<a href="/" title="Home"><h1>MynKart</h1></a>
<h1>{{ m.title }}</h1>
<p>{{ m.director }}</p>
<p>{{ m.cast }}</p>
<p>{{ m.price }}</p>
<form action="https://sandbox.google.com/checkout/api/checkout/v2/
checkoutForm/Merchant/xxxxx" id="BB_BuyButtonForm" method="post"
name="BB_BuyButtonForm">
<input name="item_name_1" type="hidden" value="{{ object.name
}}"/>
<input name="item_description_1"
type="hidden" value="{{ object.description }}"/>
<input name="item_quantity_1" type="hidden" value="1"/>
<input name="item_price_1"
type="hidden" value="{{ object.price_in_dollars }}"/>
<input name="item_currency_1" type="hidden" value="USD"/>
<input name="_charset_" type="hidden" value="utf-8"/>
<input alt="" src="https://sandbox.google.com/checkout/buttons/
buy.gif?merchant_id=xxxxx&amp;w=117&amp;h=48&amp;style=white&amp;
variant=text&amp;loc=en_US" type="image" />
<input type="submit" value="Buy now" />
</form>


</html>
